:root{
	font-size: 24px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Space Mono", monospace;
	font-weight: bold;
	transition: all 100ms;
}

body,
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #c5e4e7;
}

#logo {
	margin-top: 50px;
	margin-bottom: 41px;
}

main {
	width: 70%;
	max-width: 1300px;
	min-width: 300px;	
	padding: 32px;
	background-color: #ffffff;
	box-shadow: 0px 25px 30px 16px rgba(38, 192, 171, 0.09);
	border-radius: 23px;
}

main div {
	margin-bottom: 32px;
}

main div:last-child {
	margin-bottom: 0;
}

h1 {
	font-size: .67rem;
	line-height: 24px;
	margin-bottom: 6px;
	color: #5e7a7d;
}

h2,
input {
	outline: none;
	border: none;
	font-size: 1rem;
	color: #00494d;
}

input {
	border: 2px solid transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

h3 {
	font-size: .69rem;
	letter-spacing: -0.02em;
	color: #ffffff;
}

h4 {
	font-size: .54rem;
	color: #7f9c9f;
}

h5 {
	font-size: 1.31rem;
	letter-spacing: -0.01em;
	color: #26c0ab;
}

a {
	color: #08a2aa;
	text-decoration-style: wavy;
}

button {
	border: none;
	outline: none;
	padding: 10px 0;
	width: 100%;
	background-color: #26c0ab;
	border-radius: 4px;
	font-size: .85rem;
	letter-spacing: -0.02em;
	color: #00494d;
}

.InputData {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f4f9fa;
	border-radius: 10px;
	padding: 16px;
}

.InputData img {
	position: absolute;
}

.InputData input {
	width: calc(100% + 2 * 16px);
	text-align: right;
	margin: -16px;
	padding-right: 16px;
	padding-left: 40px;
	line-height: calc(100% + 2 * 16px);
	background-color: transparent;
	outline: none;
}

#CustomTip:focus {
	border: 2px solid #26c0ab;
	border-radius: 5px;
	color: #00494d;
}

.tipOffer *,
.tipOffer input::placeholder {
	height: 48px;
	margin-right: 6%;
	margin-top: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.04rem;
	color: #f4f9fa;
	background-color: #00494d;
	border-radius: 5px;
}

.tipOffer *:nth-child(1),
.tipOffer *:nth-child(2) {
	margin-top: 0;
}

.tipOffer *:nth-last-child(1),
.tipOffer *:nth-last-child(2) {
	margin-bottom: 0;
}

#CustomTip{
	height: 45px;
}

#CustomTip,
#CustomTip::placeholder {
	background-color: #f4f9fa;
	color: #7f9c9f;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.total {
	width: calc(100% - 2 * 24px);
	background-color: #00494d;
	border-radius: 15px;
	padding: 38px 21px 24px 24px;
}

.active,
button:hover {
	background-color: #a0e7df;
	color: #00494d;
}

@media screen and (min-width: 841px) and (max-width: 1200px) {
	main {
		width: 80%;
	}
}

@media screen and (min-width: 841px) {
	main {
		display: flex;
	}

	#DesktopColumn {
		margin-bottom: 0;
		width: 50%;
		margin-right: 25px;
	}

	.InputData,	.InputData input {
		height: 48px;
		padding: 0 16px;
	}

	.total {
		width: 50%;
		margin-left: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.total h5 {
		font-size: 1.96rem;
		line-height: 1.49em;
		letter-spacing: -0.01em;
	}

	.total .row{
		align-items: center;
	}

	.total .row .column {
		height: 1.96rem;
		justify-content: center;
		margin: 0;
	}

	.tipOffer {
		display: grid;
		grid-template-columns: 33.33% 33.33% 33.33%;
	}

	.tipOffer *:nth-child(3) {
		margin-top: 0;
	}

	.tipOffer *:nth-last-child(3) {
		margin-bottom: 0;
	}

	.attribution {
		display: flex;
		position: absolute;
		bottom: 2px;
		font-size: .625rem;
	}

	.attribution p:first-of-type{
		margin-right: .3rem;
	}
}

@media screen and (max-width: 840px) {
	main {
		width: calc(100% - 2 * 32px);
		border-radius: 23px 23px 0px 0px;
	}

	.tipOffer {
		display: grid;
		grid-template-columns: 47% 47%;
	}

	.tipOffer *:nth-child(even) {
		margin-right: 0;
	}

	.InputData {
		width: calc(100% - 2 * 16px);
		border-radius: 5px;
	}
	
	.attribution{
		margin-top: 15px;
		text-align: center;
		font-size: .625rem;
	}
}
